<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TIME LOG APP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.min.css">
  <link href="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.css" rel="stylesheet">
  <style type="text/css">
  #successmsg, #errormsg{margin-top: 25px;}
  </style>
</head>
<body>
<div class="container" ng-app="TimeLogApp" ng-controller="addProjectCrtl" ng-cloak>
  <h4>View Projects</h4>            
  <div>
  	<a ng-href="/admin/logout"><button type="button" class="btn btn-warning">Logout</button></a>
  </div>
  <div style="margin: 20px 0px">
  	<label>Select a user: </label>
	  <select ng-model="selectedItem" ng-change="update(selectedItem)">
	  	<option ng-repeat="user in users" value="{{user.email}}">{{user.first_name +" "+user.last_name}}</option>
	  </select>
  </div>
  <form name="viewProjectForm">
  <table class="table" id="projecttable">
	   <thead>
	      <tr>
	         <th>Project Name</th>
	         <th>Start Time</th>
	         <th>End Time</th>
	         <th>Date</th>
	      </tr>
	   </thead>
	   <tbody id="tablebody">
	      <tr ng-repeat="item in items">
	        <td><input type="text" name="name" ng-model = "item.name" required></td>
	        <td>
	         	<input class="form-control" moment-picker="item.starttime" format="LT" show-header="false" placeholder="Select a time" ng-model="item.startmoment" ng-model-options="{ updateOn: 'blur' }" required>
					</td>
	        <td>
	        	<input class="form-control" moment-picker="item.endtime" format="LT" show-header="false" placeholder="Select a time" ng-model="item.endmoment" ng-model-options="{ updateOn: 'blur' }" required>
	        </td>
	        <td>{{item.date}}</td>
	      </tr>
	   </tbody>
	</table>
	</form>
	<div class="alert alert-success" id="successmsg" ng-show="successmsg"></div>
	<div class="alert alert-warning" id="errormsg" ng-show="errormsg"></div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
<script src="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.js"></script>
<script src="/admin/js/dashboard.js"></script>
</body>
</html>