<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TIME LOG APP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.min.css">
  <link href="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.css" rel="stylesheet">
  <style type="text/css">
  /*input.ng-invalid { background-color: #FEE; border: solid red 1px }	*/
  </style>
</head>
<body>
<div class="container" ng-app="TimeLogApp" ng-controller="addProjectCrtl">
  <h2>Add Project</h2>            
  <div>
  	<a ng-href="http://localhost:3000/user/logout"><button type="button" class="btn btn-warning">Logout</button></a>
  </div>
  <form name="addProjectForm">
  <table class="table" id="projecttable">
	   <thead>
	      <tr>
	         <th>Project Name</th>
	         <th>Start Time</th>
	         <th>End Time</th>
	         <th>Action</th>
	      </tr>
	   </thead>
	   <tbody id="tablebody">
	      <tr ng-repeat="item in items">
	        <td><input type="text" name="projectname" ng-model = "item.projectname" required></td>
	        <td>
	         	<input class="form-control" moment-picker="item.starttime" format="LT" show-header="false" placeholder="Select a time" ng-model="item.startmoment" ng-model-options="{ updateOn: 'blur' }" required>
					</td>
	        <td>
	        	<input class="form-control" moment-picker="item.endtime" format="LT" show-header="false" placeholder="Select a time" ng-model="item.endmoment" ng-model-options="{ updateOn: 'blur' }" required>
	        </td>
	         <td><button type="button" class="btn btn-success" ng-click="addProject()">Add</button><button type="button" class="btn btn-danger">Delete</button></td>
	      </tr>
	   </tbody>
	</table>
	</form>
	<div>
		<button type="button" class="btn btn-info" ng-click ="addRow()">Add More Projects</button>
	</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
<script src="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.js"></script>

<script type="text/javascript">
angular.module('TimeLogApp', ['moment-picker'])
	.controller('addProjectCrtl', ['$scope', '$location','$http', function($scope, $location, $http){
		$scope.items = [ { projectname: '', starttime: '', endtime: ''}];

		// expose a function to add new (blank) rows to the model/table
	  $scope.addRow = function() { 
	    // push a new object
	    $scope.items.push({ }); 
	  }

		$scope.addProject = function (selectedRowObject){
			if ($scope.addProjectForm.$valid) {
				var projectname = $scope.items[0].projectname;
				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!

				var yyyy = today.getFullYear();
				if(dd<10){
				    dd='0'+dd;
				} 
				if(mm<10){
				    mm='0'+mm;
				}

				var today = yyyy+'-'+mm+'-'+dd;
				var starttime = $scope.items[0].starttime;
				var endtime = $scope.items[0].endtime;

				function getHoursMinutes(time){
					var time = time;
					var hours = Number(time.match(/^(\d+)/)[1]);
					var minutes = Number(time.match(/:(\d+)/)[1]);
					var AMPM = time.match(/\s(.*)$/)[1];
					if(AMPM == "PM" && hours<12) hours = hours+12;
					if(AMPM == "AM" && hours==12) hours = hours-12;
					var sHours = hours.toString();
					var sMinutes = minutes.toString();
					if(hours<10) sHours = "0" + sHours;
					if(minutes<10) sMinutes = "0" + sMinutes;
					return sHours+":"+sMinutes;
				}

				var st = today+"T"+getHoursMinutes(starttime);
				var et = today+"T"+getHoursMinutes(endtime);
				var startEpoch = ((new Date(st)).getTime()) /1000;
				var endEpoch = ((new Date(et))).getTime() /1000;
				console.log(startEpoch, endEpoch);

				if(startEpoch >= endEpoch){
					console.log("Start time cannot be greater than end time");
				}
				else{
					// Post request:
					$http({
					  method: 'POST',
					  url: $location.protocol() + "://" + location.host+'/user/addProjects',
					  data: {
					  	projectname: projectname,
					  	starttime: startEpoch,
					  	endtime: endEpoch
					  }
					}).then(function successCallback(response) {
					    // this callback will be called asynchronously
					    // when the response is available
					  }, function errorCallback(response) {
					    // called asynchronously if an error occurs
					    // or server returns response with an error status.
					})
				}
		}
		else{
			console.log("Mandatory fields missing")
		}
		}
	}])
</script>
</body>
</html>