<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TIME LOG APP</title>
<style type="text/css">
#signinbtn {
    height: 44px;
    width: 260px;
    padding: 0 10px;
    border: 1px solid #9da3a6;
    background: #fff;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #000;
    font-size: 14px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    direction: ltr;
    display: block;
    margin: 22% auto 12px;
    cursor: pointer;
}	
a{text-decoration: none;}
</style>  
</head>
<body>
  <div>
  	<a href="user/auth/facebook"><button type="button" id="signinbtn">Sign in / Sign up with Facebook</button></a>
  </div>
</body>
</html>